body {
  width: 350px;
  height: 450px;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#start-conversation-container {
  padding: 20px;
  position: relative;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#logo {
  width: 180px;
  height: auto;
}

#welcome-text {
  text-align: center;
  margin-bottom: 20px;
}

#welcome-text p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

#welcome-text p:nth-child(2) {
  border-right: 2px solid #333;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  margin-top: 5px;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #333; }
}

#illustration-container {
  margin-bottom: 20px;
}

#home-illustration {
  width: 175px; /* Adjust size as needed */
  height: auto;
}

#start-conversation-button {
  width: 150px;
  height: 35px;
  background-color: #00990F;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 25px;
}
#start-new-conversation-button {
  width: 150px;
  height: 35px;
  background-color: #00990F;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 20px;
}

#start-conversation-button:hover, #start-new-conversation-button:hover {
  background-color: #007a0c;
  transform: scale(1.05);
}

#recent-conversations-container {
  padding: 20px;
  justify-content: space-between;
}

#recent-conversations-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  overflow-y: auto;
  max-height: 300px;
}

.recent-conversation-card {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recent-conversation-card:hover {
  background-color: #f1f1f1;
}

#chat-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

#back-to-recent-button, #clear-conversation-button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

#back-to-recent-button:hover, #clear-conversation-button:hover {
  background-color: #e0e0e0;
}

#chat-icon {
  width: 24px;
  height: auto;
  margin-right: 10px;
}

#chat-title {
  font-size: 16px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#chat-title-link {
  text-decoration: none;
}

#chat-title:hover {
  text-decoration: none;
}

#chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 50px; /* Add padding to the bottom */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* Custom Scrollbar Styles */
#chat-messages::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

#chat-messages::-webkit-scrollbar-track {
  background: #ffffff; /* Color of the scrollbar track */
  border-radius: 10px; /* Optional: rounded corners for the track */
}

#chat-messages::-webkit-scrollbar-thumb {
  background: #F1F1F1; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Optional: rounded corners for the thumb */
}

#chat-messages::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 7px;
  max-width: 70%;
  word-wrap: break-word;
}

.user-message {	
  background-color: #25E226;
  color: white;
  align-self: flex-end;
}

.bot-message {
  background-color: #F1F1F1;
  align-self: flex-start;
  border: 1px solid #DEDDDD;
}

#input-container {
  display: flex;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
}

#user-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #E1E1E1;
  border-radius: 7px;
  box-shadow: 0 4px 77px #E3E2E2;
}

#send-button {
  margin-left: 10px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

#send-icon {
  width: 35px;
  height: auto;
}

#send-button:hover {
  opacity: 0.8;
}

.typing-indicator {
  display: flex;
  align-items: center;
}

.typing-indicator div {
  width: 8px;
  height: 8px;
  margin: 0 3px;
  border-radius: 50%;
  background: #00990F;
  animation: blink 1.4s infinite both;
}

.typing-indicator div:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

#user-input:focus {
  outline: 0px solid #E1E1E1;
}

#no-conversations-message {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin: 20px 0;
}